<h2><%= deal.merchant.name %></h2>
<p><%= deal.merchant.phone %></p>
<p>Last Run: <%= "#{deal.date_added.strftime("%B %d, %Y")} (#{deal.provider})" %></p>
<p>Signed by: <%=deal.merchant.providers_to_comma%><p>
</br>
</br>
<p><%= deal.short_title %></p>
<p><%="Sold #{deal.sold} @ #{number_to_currency(deal.price, :unit => '$')},Revenue: #{number_to_currency(deal.revenue, :unit => '$')}" %></p>
<p>Provider: <%= deal.provider %></p>
<% unless deal.merchant.run_with_ls? %>
<p>Merchant has never run with LS</p>
<% end %>
