
<div class="span8 offset2">
  <table class="table table-condensed">
    <tbody>
      <% @markets.each do |market| %>
      <tr>
        <td><h2><%= link_to market.name, market_path(market), :target => "_top" %></h2></td>
        <td><% if current_user.user_markets.find_by_market_id(market.id) %>
          <%= link_to 'Remove from My Markets', current_user.user_markets.find_by_market_id(market.id), :method => :delete, :class => 'btn btn-large' %>
        <% else %>
          <%= form_for UserMarket.new do |f| %>
            <%= f.hidden_field :user_id, { value: current_user.id} %>
            <%= f.hidden_field :market_id, { value: market.id} %>
            <%= f.submit "Add to My Markets", :class => 'btn btn-large' %>
          <% end %>
        <% end %>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>