<h1><%= @market.name %></h1>
<a href="#" id="placeme">Place me on map</a>

<% @market.merchants.map(&:zip).uniq[0..3].each do |zip| %>
  <p>
  <input type="checkbox" data-property-value="<%=zip%>" data-property-name="zip" class="showhide"checked/><%= zip %>
  <a href="#" data-property-value="<%=zip%>" data-property-name="zip" class="bouncepins">bounce <%= zip %></a>
  <a href="#" data-property-value="<%=zip%>" data-property-name="zip" class="stoppins">stopbounce <%= zip %></a></p>
<% end %>

  <p><input type="checkbox" data-property-value="Groupon" data-property-name="provider" class="showhide"checked/>Groupon
  <a href="#" data-property-value="Groupon" data-property-name="provider" class="bouncepins">bounce GPN</a>
  <a href="#" data-property-value="Groupon" data-property-name="provider" class="stoppins">stopbounce GPN</a></p>
  <p><input type="checkbox" data-property-value="livingsocial" data-property-name="provider" class="showhide"checked/>LivingSocial
  <a href="#" data-property-value="livingsocial" data-property-name="provider" class="bouncepins">bounce LS</a>
  <a href="#" data-property-value="livingsocial" data-property-name="provider" class="stoppins">stopbounce LS</a></p>
  </p>


<div id='revenue-range'></div>
<p>
  <label for="filtered-rev">Price range:</label>
  <input type="text" id="filtered-rev" style="border:0; color:#f6931f; font-weight:bold;" />
</p>

<div id='date-range'></div>
<p>
  <label for="filtered-dates">Date range:</label>
  <input type="text" id="filtered-dates" style="border:0; color:#f6931f; font-weight:bold;" />
</p>

<script type="text/javascript">
  var Market = {
    min_revenue: <%= @market.min_revenue %>,
    max_revenue: <%= @market.max_revenue %>,
    max_days:  <%= @market.days_for_selector %>
  }
</script>

<%= gmaps(@gmap_options) %>