
</br>
</br>

<div class="container">
  <div class="row">
    <div class="well span12 pull-right" >
      <p class="pull-right" id="toplinks">
        <a data-toggle="modal" href="#myModal" >View Market Statistics</a> |
        <%= link_to "View All Markets", markets_path, :target => "_blank" %> |
        <%= link_to "Edit My Markets", user_path(current_user), :target => "_blank" %> |
        <a href="#" id="placeme">Place me on map</a>

      </p>
      <h1 class="market_title"><%= @market.name %>
      <br />
      <select data-placeholder="Select a market" style="width:200px;" id="markets" class="chzn-select-markets" tabindex="8">
          <% Market.all.each do |market| %>
          <option value=""></option> 
          <option data-market-id="<%=market.id%>"><%= market.name %></option>
          <% end %>
      </select>
      </h1>
      <div class="sidebar_well span3">
          <h3 class="deals-returned"><%=@market.merchants.count %> Merchants Returned</h3>
          <a class="filters-reset">Clear All Filters</a>
        <div id="multiAccordion">
          <h3><a href="#">Filter By Deal Provider</a></h3>
          <div>
              <div id="provider-boxes">
                <p><input type="checkbox" name="provider" data-property-value="true" data-property-name="run_with_gpn" class="showhide"checked/><a href="#" data-property-value="true" data-property-name="run_with_gpn" class="bouncepins">  Groupon Merchants</a></p>
                <p><input type="checkbox" name="provider" data-property-value="true" data-property-name="run_with_ls" class="showhide"checked/><a href="#" data-property-value="true" data-property-name="run_with_ls" class="bouncepins">  LivingSocial Merchants</a></p>
                <p><input type="checkbox" name="provider" data-property-value="true" data-property-name="third_party" class="showhide"checked/><a href="#" data-property-value="true" data-property-name="third_party" class="bouncepins">  Only Run with Third Party</a></p>
                <a class="provider-reset">Clear Provider Filter</a>
              </div>
          </div>
          <h3><a href="#">Filter By Revenue</a></h3>
          <div>
              <div>
                <div id='revenue-range'></div>
                <p>
                  <input type="text" id="filtered-rev"/>
                </p>
                <a class="revenue-dollar">$1 +</a> |
                <a class="revenue-reset">Clear Revenue Filter</a>
              </div>
          </div>
          <h3><a href="#">Filter by Run Date</a></h3>
          <div>
              <div>
                <div id='date-range'></div>
                <p>
                  <input type="text" id="filtered-dates"/>
                </p>
                <a class="date-reset">Clear Date Filter</a>
              </div>
          </div>
          <h3><a href="#">Filter By Core Selling Area/Zip</a></h3>
          <div>
              <div id="zip-boxes">
                <p>
                  <input type="checkbox" data-property-value="true" data-property-name="csa" class="showhide"checked/><a href="#" data-property-value="true" data-property-name="csa" class="bouncepins"> Inside Core Selling Area</a>
                </p>
                <p>
                  <input type="checkbox" data-property-value="true" data-property-name="outside_csa" class="showhide"checked/><a href="#" data-property-value="true" data-property-name="outside_csa" class="bouncepins"> Outside Core Selling Area</a>
                </p>

                <select data-placeholder="Filter by Zipcodes" style="width:200px;" id="zips" multiple class="chzn-select-zips" tabindex="8">
                  <option value=""></option>
                  <% @market.zips_index.each do |zip, freq| %>
                  <option><%= zip %></option>
                  <% end %>
                </select>
                <a class="zip-reset">Clear Zip Filters</a>
                <br />
                <br />
                <br />
              </div>
          </div>
          <h3><a href="#">Filter By Merchant Category</a></h3>
          <div>
              <div>
                <select data-placeholder="Filter by Categories" style="width:200px;" id="categories" multiple class="chzn-select-categories" tabindex="8">
                  <option value=""></option>
                  <% @market.categories_index.each do |category, freq| %>
                  <option><%= category %></option>
                  <% end %>
                </select>           
                <a class="category-reset">Clear Category Filters</a> ​
                <br />
                <br />
                <br />
                <br />
              </div>
          </div>
        </div>
      </div>
      <div class="span9"><%= gmaps(@gmap_options) %></div>
    </div>
  </div>
</div>

<div class="modal hide" id="myModal">
  <div class="modal-header">
    <h3> <%= @market.name %> All Time Statistics</h3>
  </div>
  <div class="modal-body">
    <%= render :partial => "stats" %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<script type="text/javascript">
  var Market = {
    min_revenue: <%= @market.min_revenue %>,
    max_revenue: <%= @market.max_revenue %>,
    max_days:  <%= @market.days_for_selector %>
  }
</script>





