<!DOCTYPE html>
<html>
<head>
  <title>Hunter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Merchant Hunter</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% if current_user %>
            <% current_user.markets.each do |market| %>
            <li><%= link_to market.name, market_path(market) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div id="user_nav">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= yield %>
<%= yield :scripts %>

</body>
</html>
