<!DOCTYPE html>
<html>
<head>
  <title>The Merchant Hunter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <%= image_tag "ls_logo.png", :class=> "pull-left" %>
    <h1 class="brand pull-left">Merchant Hunter</h1>
    <div class="container">
    </div>
  </div>
</div>
</br>

<div class="noticeholder">
<% flash.each do |key, msg| %>
  </br>
  </br>
  <div id="<%= key %>">
    <p><%= msg %></p>
  </div>
<% end %>
</div>

<div class="yield">

</br>
</br>

<div class="container">
  <div class="row">
    <div class="well span12 pull-right" >
      <div id='dynamic-navigation'>
        <%= render :partial => 'markets/market_navigation' %>
      </div>

      <%= render :partial => 'markets/market_title' %>
      <div id='dynamic-content'>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<%= yield :scripts %>

<% if @market %>
  <script type="text/javascript">
    var Market = {
      min_revenue: <%= @market.min_revenue %>,
      max_revenue: <%= @market.max_revenue %>,
      max_days:  <%= @market.days_for_selector %>
    }
  </script>
<% end %>

</div>

</body>
</html>
